@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  --font-sans: var(--font-jost);
  name: "light";
  default: true;
  --color-primary: #c40101;

}